footer {
  background-color: black;
  color: white;
  text-align: center;
}
.brand {
  font-size: 65px;
  color: white;
}

#contactUs {
  font-size: 25px;
  line-height: auto;
  padding-top: 10px;
}
#footer_brand {
  font-size: 35px;
}
