a:link {
  text-decoration: none;
  color: unset;
}

.active_header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 1;
  font-weight: bold;
}
header {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}
header:hover {
  background-color: black;
  transition: 0;
}
.default_header {
  font-weight: bold;
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(48, 47, 45, 1) 0%,
    rgba(48, 47, 45, 0.5) 100%
  );
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: white;

  z-index: 1;
}

.container {
  margin: 0 auto;
}

.row {
  align-items: center;
  justify-content: space-between;
}
.col {
  align-items: center;
  font-weight: bold;
}
.test {
  display: flex;
}
.default_brand {
  order: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.active_brand {
  font-size: 35px;
}
.active_brand_Icon {
  color: white;
  font-size: 35px;
}

.brand_Icon {
  position: relative;
  justify-content: center;
  left: 10%;
}
.default_brand_Icon {
  display: inline-block;
  width: 1100px;
  font-size: 50px;
  color: white;
}

.default_product {
  flex-direction: column-reverse;
  display: block;
  order: 3;
}

.product_list {
  justify-content: space-between;
}
.product_list_link {
  text-decoration: underline;
  font-size: 20px;
  color: white;
}
.product_list_link:hover {
  color: white;
}
.product_link_list:hover {
  text-decoration: underline;
  color: white;
  font-weight: bold;
}
.default_userInfo {
  display: flex;
  position: relative;
  justify-content: end;
  order: 2;
}
.active_userInfo {
}
.userInfo_nav {
  display: inline-block;
}
.userInfo {
  display: inline-block;
  font-size: 20px;
}
#user_loggedIn {
  color: white;
}

#user_cart_info {
  display: inline-block;
  position: relative;
  color: white;
  right: 20px;

  top: -5px;
}
.cartInfo {
  padding: 0;
}

#user_cart_icon {
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
.cart_badge {
  position: relative;
  top: 7px;
  right: -20px;
  width: 15px;
  height: 15px;

  background-color: darkred;
  color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}

@media only screen and (max-width: 1400px) {
  .default_brand_Icon {
    display: inline-block;
    width: 800px;
    font-size: 50px;
    color: white;
  }
}
@media only screen and (max-width: 1200px) {
  .default_brand_Icon {
    display: inline-block;
    width: 600px;
    font-size: 50px;
    color: white;
  }
}
@media only screen and (max-width: 1000px) {
  .default_brand_Icon {
    display: inline-block;
    width: 300px;
    font-size: 50px;
    color: white;
  }
  .default_product {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .userInfo_nav {
    display: none;
  }
}
