header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 1rem;
  background: linear-gradient(
    to bottom,
    rgba(48, 47, 45, 1) 0%,
    rgba(48, 47, 45, 0.5) 100%
  );
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
  color: white;

  z-index: 1;
}
a:link {
  text-decoration: none;
}
header:hover {
  background-color: black;
  transition: 0;
}
.inner {
  background-color: black;
}
.brand {
  font-size: 50px;
  color: white;
  font-weight: bold;
}
.brand:hover {
  color: white;
}
#brand_nav {
  justify-content: center;
}
#log_Link {
  justify-content: center;
  color: white;
  font-size: 20px;
  padding-top: 2rem;
}

.product_link_list {
  color: white;
  font-size: 20px;
}
.product_link_list:hover {
  text-decoration: underline;
  color: red;
  font-weight: bold;
}

#product_link_nav {
  justify-content: space-between;
}
#small_brand {
  color: white;
  font-size: 35px;
}
#log_info_small {
  font-size: 20px;
  float: right;
}
#log_info_text {
  color: white;
}

.loggedIn_Info {
  position: relative;
}

#log_Link,
.cart {
  position: relative;
}
.cart_icon {
  position: absolute;
  top: 50%;
}

.badge {
  position: absolute;
  top: 30%;
  right: -70%;
  width: 15px;
  height: 15px;

  background-color: black;
  color: #fff;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: 600;
  z-index: 10;
}
